<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <br> <br>
            <div class="panel panel-default">
              <div class="panel-heading"> 
                   <i class="fa fa-briefcase fa-fw"></i> Passos Cenário
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Sequence</th>
                        <th>Description</th>
                        <th>Scenario</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    
                    <tbody>
                    <% @step_scenarios.each do |step_scenario| %>
                      <tr>
                        <td><%= step_scenario.sequence %></td>
                        <td><%= step_scenario.description %></td>
                        <td><%= step_scenario.scenario.name %></td>
                        
                        <td><%= link_to  step_scenario, class: "btn default btn-xs red" do %>
                                  <i class="fa fa-edit fa-fw"></i>  
                                  Mostrar
                               <% end %> 
                           
                           <%= link_to edit_step_scenario_path(step_scenario), class: "btn default btn-xs purple" do %>
                                  <i class="fa fa-edit fa-fw"></i>  
                                  Editar
                           <% end %> 
                           
                        <button type="submit" class="btn default btn-xs black"><i class="fa  fa-times fa-fw"></i> Excluir</button></td>
                      </tr>
                    <% end %>
                  </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

