<p id="notice"><%= notice %></p>

<h1>Step Scenarios</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Description</th>
      <th>Scenario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @step_scenarios.each do |step_scenario| %>
      <tr>
        <td><%= step_scenario.sequence %></td>
        <td><%= step_scenario.description %></td>
        <td><%= step_scenario.scenario %></td>
        <td><%= link_to 'Show', step_scenario %></td>
        <td><%= link_to 'Edit', edit_step_scenario_path(step_scenario) %></td>
        <td><%= link_to 'Destroy', step_scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step Scenario', new_step_scenario_path %>
