<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
          <h2 class="page-header"> Gerenciar Projeto </h2>
            <div class="panel panel-default">
              <div class="panel-heading"> 
                   <i class="fa fa-briefcase fa-fw"></i> 
                   Projeto
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                       <thead>
                        <tr>
                          <th>Título</th>
                          <th>Categoria</th>
                          <th>Data Criação</th>
                          <th>Data entrega</th>
                          <th>Categoria</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                          <tr>
                            <td><%= current_project.title %></td>
                            <td><%= current_project.text %></td>
                            <td><%= current_project.delivery_date.strftime("%m/%d/%Y") %></td>
                            <td><%= current_project.creation_date.strftime("%m/%d/%Y") %></td>
                            <td><%= current_project.category.name %></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
          <!-- /.col-lg-12 -->
          <%= render 'report_all' %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


