<%= form_for(use_case) do |f| %>
  <% if use_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(use_case.errors.count, "error") %> prohibited this use_case from being saved:</h2>

      <ul>
      <% use_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="form-group">
      <label>Nome</label>
      <%= f.text_field :name, class:"form-control" %> 
  </div>

   <div class="form-group">
      <label>Descrição</label>
      <%= f.text_field :description, class:"form-control" %> 
  </div>
  
  
  <div class="form-group">
     <label>Requisito</label>
     <%= collection_select(:use_case, :requirement_id, @requirement_options_select, :id, :name, {}, {class: "form-control"}) %>
  </div>

  <button type="submit" class="btn btn-success">Salvar<i class="fa fa-check pull-left"></i>
  </button>
  
<% end %>
