<%= form_for(actor_use_case) do |f| %>
  <% if actor_use_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor_use_case.errors.count, "error") %> prohibited this actor_use_case from being saved:</h2>

      <ul>
      <% actor_use_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.text_field :actor_id %>
  </div>

  <div class="field">
    <%= f.label :use_case_id %>
    <%= f.text_field :use_case_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
