<div class="panel panel-default">
              <div class="panel-heading"> 
                   <i class="fa fa-briefcase fa-fw"></i> Requisitos Suplementares
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                       <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @requirements.each do |requirement| %>
                      <% if requirement.requirement_type == "Suplementar" %>
                      <tr>
                        <td><%= requirement.name %></td>
                        <td><%= requirement.description %></td>
                        <td><%= requirement.requirement_type %></td>
                        <td><%= link_to edit_requirement_path(requirement), class: "btn default btn-xs purple" do %>
                             <i class="fa fa-edit fa-fw"></i>  
                                Editar
                             <% end %> 
                             
                        <%= link_to requirement, method: :delete, data: { confirm: 'Are you sure?'},
                                     class: "btn default btn-xs black" do %>
                                    <i class="fa fa-times fa-fw"></i>  
                                    Excluir
                             <% end %> 
                          </td>
                      </tr>
                      <% end %>
                    <% end %>
                  </tbody>
          </table>
        </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>