<%= form_for(requirement) do |f| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="form-group">
      <label>Nome</label>
      <%= f.text_field :name, class:"form-control" %> 
  </div>
  
   <div class="form-group">
      <label>Descrição</label>
      <%= f.text_field :description, class:"form-control" %> 
  </div>


  <div class="form-group">
   <label>Tipo</label>
    <%= f.select :requirement_type, options_for_select([["Funcional"], ["Não Funcional"], ["Suplementar"]], requirement.requirement_type), {}, {class: "form-control"} %>
  </div>
 
   <button type="submit" class="btn btn-primary">Salvar<i class="fa fa-check pull-left"></i>
  </button>
  
  <button class="btn btn-default" data-disable-with="Cancel" formnovalidate="" name="_continue" type="submit">
    <i class="fa fa-times"></i>
    Cancel
  </button>
<% end %>
