<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Show requirement</h1>
                <p id="notice"><%= notice %></p>

                <p>
                  <strong>Name:</strong>
                  <%= @requirement.name %>
                </p>
                
                <p>
                  <strong>Description:</strong>
                  <%= @requirement.description %>
                </p>
                
                <p>
                  <strong>Type:</strong>
                  <%= @requirement.requirement_type %>
                </p>
                
                <p>
                  <strong>Project:</strong>
                  <%= @requirement.project %>
                </p>
                
                <%= link_to 'Edit', edit_requirement_path(@requirement) %> |
                <%= link_to 'Back', requirements_path %>
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

