<p id="notice"><%= notice %></p>

<h1>Use Case Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Use case</th>
      <th>Requirement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @use_case_requirements.each do |use_case_requirement| %>
      <tr>
        <td><%= use_case_requirement.use_case %></td>
        <td><%= use_case_requirement.requirement %></td>
        <td><%= link_to 'Show', use_case_requirement %></td>
        <td><%= link_to 'Edit', edit_use_case_requirement_path(use_case_requirement) %></td>
        <td><%= link_to 'Destroy', use_case_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Use Case Requirement', new_use_case_requirement_path %>
