<p id="notice"><%= notice %></p>

<p>
  <strong>Use case:</strong>
  <%= @use_case_requirement.use_case %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @use_case_requirement.requirement %>
</p>

<%= link_to 'Edit', edit_use_case_requirement_path(@use_case_requirement) %> |
<%= link_to 'Back', use_case_requirements_path %>
