    <!-- /.navbar-top-links -->
    <div class="col-sm-3 col-md-2 sidebar-nav">
    
        <ul class="nav nav-pills nav-stacked">
            <li>
                <%= link_to project_manager_path(current_project.id) do %> <i class="fa fa-dashboard fa-fw"></i> Visualizar Projeto <% end %>
            </li>
            <li>
                <!-- REQUISITOS -->
                <a href="#"><i class="fa fa-briefcase fa-fw"></i> Requisitos<span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to "Inserir Requisitos", new_requirement_path %>
                    </li>
                    <li>
                        <%= link_to "Visualizar Requisitos", requirements_path %>
                    </li>
                </ul>
            </li>
            
           <li>
            <!-- CASOS DE USO -->
            <a href="#"><i class="fa fa-briefcase fa-fw"></i> Casos de Uso<span class="fa arrow"></span></a>
            
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to "Inserir Caso de Uso", new_use_case_path %>
                    </li>
                    <li>
                        <%= link_to "Criar Ator", new_actor_path %>
                    </li>
                    <li>
                        <%= link_to "Visualizar Caso de Uso", use_cases_path %>
                    </li>
                     <li>
                        <%= link_to "Visualizar Atores", actors_path %>
                    </li>
                </ul>
            </li>
            
            <li>
                <!-- CENÁRIOS -->
                <a href="#"><i class="fa fa-briefcase fa-fw"></i> Cenários<span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to "Inserir Cenário", new_scenario_path %>
                    </li>
                    <li>
                        <%= link_to "Gerenciar Cenário", scenarios_path %>
                    </li>
                </ul>
            </li>
            
            <li>
                <!-- GLOSSÁRIO -->
                <a href="#"><i class="fa fa-briefcase fa-fw"></i> Glossário <span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to "Gerenciar", glossaries_path %>
                    </li>
                </ul>
            </li>
                
            <li>
                <%= link_to admin_index_path do %> <i class="fa fa-home fa-fw"></i> Voltar <% end %>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </div>
    <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->