<%= form_for(scenario) do |f| %>
  <% if scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

      <ul>
      <% scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Nome</label>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <label>Descrição</label>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <div class="form-group">
   <label>Tipo</label>
    <%= f.select :use_case, options_for_select([["Principal"], ["Alternativo"]], scenario.use_case), {}, {class: "form-control"} %>
  </div>
  
   <div class="form-group">
     <label>Caso de Uso</label>
     <%= collection_select(:scenario, :use_case_id, @usecase_options_select, :id, :name, {}, {class:"form-control"}) %>
  </div>

  <button type="submit" class="btn btn-success">Salvar<i class="fa fa-check pull-left"></i>
  </button>
  
<% end %>
