<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="page-header"> Meus Projetos </h2>
            <!-- NOTIFICACAO -->
            <% if notice %>
               <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <%= notice %>
               </div>
            <% end %>
            
            <div class="panel panel-default">
              <div class="panel-heading"> 
                   <i class="fa fa-briefcase fa-fw"></i> Meus projetos
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Título</th>
                          <th>Categoria</th>
                          <th>Data Criação</th>
                          <th>Data entrega</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                          <% if @project_user
                            @project_users.each do |project_user|
                              @project = Project.find(project_user.project_id)
                           %>
                           <tr>
                             <td><%= @project.title %></td>
                             <td><%= @project.category.name %></td>
                             <td><%= @project.creation_date.strftime("%d/%m/%Y")%></td>
                             <td><%= @project.delivery_date.strftime("%d/%m/%Y")%></td>
                             
                             <td><%= link_to project_manager_path(@project.id), class: "btn default btn-xs red" do %>
                                    <i class="fa fa-edit fa-fw"></i>  
                                    Gerenciar
                                 <% end %> 
                             
                             <%= link_to edit_project_path(@project), class: "btn default btn-xs purple" do %>
                                    <i class="fa fa-edit fa-fw"></i>  
                                    Editar
                             <% end %> 
                             
                             <button type="submit" class="btn default btn-xs black"><i class="fa  fa-times fa-fw"></i> Excluir</button></td>
                           </tr>
                            <% end %>
                          <% else %>
                            <p> 
                              <strong>Vazio</strong>
                            </p>
                          <% end %>
                      
                        </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

