<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Meus projetos</h1>
                <% if @project_user
                    @project_users.each do |project_user|
                      @project = Project.find(project_user.project_id)
                 %>
                      <p>
                        <strong>ID:</strong>
                        <%= @project.id %>
                      </p>
                      <p>
                        <strong>Title:</strong>
                        <%= @project.title %>
                      </p>
                      <p>
                        <strong>Text:</strong>
                        <%= @project.text %>
                      </p>
                      <p>
                        <strong>Delivery date:</strong>
                        <%= @project.delivery_date %>
                      </p>
                      <p>
                        <strong>Creation date:</strong>
                        <%= @project.creation_date %>
                      </p>
                      <p>
                        <strong>Category:</strong>
                        <%= @project.category %>
                      </p>
                      <%= link_to 'Edit', edit_project_path(@project) %> |
                      <%= link_to 'Gerenciar', project_manager_path(@project.id) %>
                      <br> <br>
                  <% end %>
                  
                <% else %>
                  <p> 
                    <strong>Vazio</strong>
                  </p>
                  
                  <%= link_to 'Back', project_users_path %>
                <% end %>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

